.navbar-title {
    /* font-style: oblique; */
    font-family: "Open Sans", "Helvetica Neue";
    font-size: 28px;
    color: yellowgreen;
    text-decoration: none;
}

.a {
    text-decoration: none;
    color: black;
}

.a:hover {
    color: rgb(8, 8, 8);

}

.navbar-title:hover {
    color: rgb(116, 201, 46);
}

.btn {
    background-color: yellowgreen;
    color: black;
}

.btn:hover {
    background-color: rgb(116, 201, 46);
    color: black;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    font-weight: bold;
    color: rgb(32, 36, 33);
}

.inp {
    padding: 0px 20px 0 20px;
    margin-top: 5px;
    font-size: 20px;
    /* margin-bottom: 5px; */
    color: #333;
    /* width: 50%; */
    border: 1px solid #555;
    height: 35px;
    /* height: auto; */
    border-radius: 5px 0px 0px 15px !important;
}

#searchbtn {
    border: 0;
    /* padding: 0px 10px; */
    margin-top: 5px;
    /* margin-bottom: 5px; */
    color: rgb(15, 15, 15);
    background: yellowgreen;
    /* font-size: 27px;
  font-weight: 500; */
    border: 1px solid #555;
    /* width: 5rem; */
    box-shadow: none;
    height: 35px;
    /* height: auto; */
    border-radius: 0px 15px 5px 0px !important;
}

.cart {
    color: yellowgreen;
}

.cart:hover {
    color: rgb(116, 201, 46);

}

.bg-image {
    background-image: url('1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem;
}

.bg-text h2 {
    font-size: 3.5rem;
    font-family: "Open Sans", "Helvetica Neue";
    color: black;
    text-shadow: 3px 2px 1px #86860b;
}

.bg-text h3 {
    font-size: 1.8rem;
    font-family: "Open Sans", "Helvetica Neue";
    color: black;
    text-shadow: 5px 2px 5px #41412f;
}

hr {
    width: 90%;
    height: 1%;
}

a {
    text-decoration: none;
}

.title {
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
}

.contact-image {
    background-image: url('2.jpg');
    width: 60%;
    height: 350px;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
}

.form-control {
    width: 30rem;
}

.ctbtn {
    width: 30rem;
    color: black;
    background-color: greenyellow;
    border: none;
}

.ctbtn:hover {
    background-color: rgb(116, 201, 46);
    color: black;
}

.login-form {
    margin-left: 20rem;
    align-items: center;
    justify-content: center;
}
.padding {
    padding: 2rem;
}
.padding4 {
    padding: 5rem;
}