.navbar-title {
    /* font-style: oblique; */
    font-family: "Open Sans", "Helvetica Neue";
    font-size: 28px;
    color: yellowgreen;
    text-decoration: none;
}

.a {
    text-decoration: none;
    color: black;
}

.a:hover {
    color: rgb(8, 8, 8);

}

.navbar-title:hover {
    color: rgb(116, 201, 46);
}

.btn {
    background-color: yellowgreen;
    color: black;
}

.btn:hover {
    background-color: rgb(116, 201, 46);
    color: black;
}

.nav-link {
    color: black;
}

.nav-link:hover {

    color: rgb(76, 82, 77);
}

.inp {
    padding: 0px 250px 0 20px;
    /* margin-top: 3px; */
    font-size: 15px;
    /* margin-bottom: 5px; */
    color: #333;
    /* width: 50%; */
    border: 1px solid #555;
    height: 35px;
    /* height: auto; */
    border-radius: 5px 0px 0px 15px !important;
}

#searchbtn {
    border: 0;
    /* padding: 0px 10px; */
    margin-top: 5px;
    /* margin-bottom: 5px; */
    color: rgb(15, 15, 15);
    background: yellowgreen;
    /* font-size: 27px;
  font-weight: 500; */
    border: 1px solid #555;
    /* width: 5rem; */
    box-shadow: none;
    height: 35px;
    /* height: auto; */
    border-radius: 0px 15px 5px 0px !important;
}

.cart-1 {
    color: yellowgreen;
}

.cart:hover {
    color: rgb(116, 201, 46);

}

.btn{
    font-size: 0.9rem;
    font-weight: bold;
}
.bg-image {
    background-image: url('images/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem;
}

.bg-text h4 {
    font-size: 3rem;
    font-family: "Open Sans", "Helvetica Neue";
    color: black;
    text-shadow: 3px 2px 1px #86860b;
}

.bg-text h3 {
    font-size: 1.8rem;
    font-family: "Open Sans", "Helvetica Neue";
    color: black;
    text-shadow: 5px 2px 5px #41412f;
}

hr {

    width: 90%;
    height: 1%;
}

a {
    
    text-decoration: none;
}


.title {
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
}

.contact-image {
    background-image: url('images/2.jpg');
    width: 70%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
 
}

.form-control {
    width: 22rem;
}

.ctbtn {
    width: 22rem;
    color: black;
    background-color: greenyellow;
    border: none;
}

.ctbtn:hover {
    background-color: rgb(116, 201, 46);
    color: black;
}

.login-form {
    margin-left: 20rem;
    align-items: center;
    justify-content: center;
}

.padding {
    padding: 2rem;
}

.padding4 {
    padding: 5rem;
}

.links {

    text-decoration: none;
}

.links:hover {
    font-size: 1.1rem;
    color: rgb(44, 58, 46);
}

.card-body{
    font-size: 0.8rem;
}
.card:hover{

    box-shadow: 5px 6px 6px 2px #86a718;
    transform: translateY(-10px);
    transition: 0.5s;
}


/* medium - display 2  */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(50%);
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-50%);
    }
}

/* large - display 3 */
@media (min-width: 992px) {

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(33%);
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-33%);
    }
}

@media (max-width: 768px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
    transform: translateX(0);
}